#menu:not(:target) .menu-item {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms, visibility 500ms;
}

#menu:target > .menu-item {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 500ms, visibility 500ms, transform 0s; /* اضافه کردن transform 0s */
}

#menu:target > .menu-item:nth-child(6) {
  transform: rotate(90deg) translateX(-150px) rotate(-90deg);
  transition-delay: 0s;
  transition-duration: 0.5s; /* افزایش مدت زمان ترنزیشن */
}

#menu:target > .menu-item:nth-child(5) {
  transform: rotate(45deg) translateX(-150px) rotate(9deg);
  transition-delay: 0.1s;
  transition-duration: 0.5s; /* افزایش مدت زمان ترنزیشن */
}

#menu:target > .menu-item:nth-child(3) {
  transform: rotate(-45deg) translateX(-150px) rotate(9deg);
  transition-delay: 0.2s;
  transition-duration: 0.5s; /* افزایش مدت زمان ترنزیشن */
}

#menu:target > .menu-item:nth-child(4) {
  transform: rotate(360deg) translateX(-150px) translateY(3px) rotate(9deg);
  transition-delay: 0.3s;
  transition-duration: 0.5s; /* افزایش مدت زمان ترنزیشن */
}

body {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  min-height: 100vh;
}

#menu {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
  list-style: none;
  font-size: 200%;
}

.menu-button {
  opacity: 0;
  z-index: -1;
}

.menu-button {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  background-size: 100%;
  overflow: hidden;
  text-decoration: none;
  line-height: 150px;
  color: #000000;
}

#menu:not(:target) > a:first-of-type,
#menu:target > a:last-of-type {
  opacity: 1;
  z-index: 1;
}

#menu:not(:target) > .icon-plus:before,
#menu:target > .icon-minus:before {
  opacity: 1;
}

.menu-item {
  width: 80px;
  height: 70px;
  position: absolute;
  left: 55%;
  line-height: 5px;
  top: 50%;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  font-size: 44px;
  opacity: 1;
  visibility: visible;
  box-shadow: 0 0 0 transparent; /* حذف سایه */
}

.menu-item.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-item a {
  color: #070404;
  position: relative;
  top: 0%;
  left: 0;
  text-decoration: none;
}
